<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/layui.js"></script>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/work.css">
    <script src="/js/editWorks.js"></script>
</head>
<body>
<form class="layui-form" action="" method="post" lay-filter="work-data">
    <div class="head-border">
        <button class="layui-btn">知识点</button>
        <div class="input_text">

            <input type="text" name="point" th:if="${work!=null}" th:value="${work.getPoint()}" id="point"
                   placeholder="请输入知识点"
                   autocomplete="off" class="layui-input ">
            <input type="text" name="point" th:if="${work==null}" id="point" placeholder="请输入知识点"
                   autocomplete="off" class="layui-input ">


            <!--作业id-->
            <input type="text" name="id" th:if="${work!=null}" th:value="${work.getId()}" id="id" hidden>
            <!--班级id-->
            <input type="text" name="classid" th:if="${work==null}"
                   th:value="${cid}" id="classid" hidden>
        </div>
        　<input type=button value="返回" class="layui-btn layui-btn-xs layui-btn-danger" onclick="window.history.go(-1)">
    </div>
    <div class="content">
        <textarea id="content" name="content" required lay-verify="required" th:if="${work!=null}"
                  th:text="${work.getContent()}"
                  placeholder="作业内容" class="layui-textarea c-work-content"></textarea>

        <textarea id="content" name="content" required lay-verify="required" th:if="${work==null}"
                  placeholder="作业内容" class="layui-textarea c-work-content"></textarea>
    </div>
    <div class="c-work-bottom">
        <input type="button" class="layui-btn" onclick="doEditWork()" value="提交"/>
    </div>
</form>
</body>
</html>