<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/layui.js"></script>
    <link rel="stylesheet" href="/css/layui.css">
    <script src="/js/jQuery-3.4.1.js"></script>
</head>
<body>
<!--右边-->
    <div class="layui-col-md3 login" style="float: right">
        <div id="loginView" class="layui-anim layui-anim-scale">
            <div>
                <img src="/img/login_logo_img.jpg" />
            </div>
            <!--账号-->
            <div>
                <i class="layui-icon layui-icon-username icon"></i>
                <input id="account" name="account" type="text" required="required" placeholder="请输入账号" />
            </div>
            <!--密码-->
            <div>
                <i class="layui-icon layui-icon-password icon"></i>
                <input id="password" name="password" type="password" required="required" placeholder="请输入密码" />
            </div>
            <!--登录-->
            <div>
                <button class="layui-btn layui-btn-normal" style="margin-top: 25px; width: 60%;" onclick="login()">登录</button>
            </div>
        </div>
    </div>

<script>
    function login() {
        var username = document.getElementById("account").value;
        var password = document.getElementById("password").value;
        console.log("send request");
        // var data = {account:username,password:password};
        console.log(username,password);
        $.ajax({
            url:"/login",
            data:{account:username,password:password},
            dataType:"JSON",
            type:"POST",
            success:function(dataJson){
                console.log(dataJson.status)
                if(dataJson.status==1){
                    console.log("登录成功");


                }else{
                    console.log(dataJson.msg);
                    layui.use('layer', function(){
                        var layer = layui.layer;
                        layer.msg(dataJson.msg);
                    });
                }
            }
        })
    }
    
</script>

</body>
</html>