<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的班级</title>
<!--三件套-->
    <script src="/js/jQuery-3.4.1.js"></script>
    <script src="/layui.js"></script>
    <link rel="stylesheet" href="/css/layui.css">

    <script type="text/javascript" src="/js/myClass.js"></script>
</head>
<body>
<div class="head-border">
    <form class="layui-form">
        <div class="input_text">
            <a onclick="display()">
                <input  type="checkbox"  id="yn" name="yn" lay-skin="switch" lay-text="显示已毕业班级|显示已毕业班级"/>
            </a>
        </div>
    </form>
</div>

<div id="data">
    <table id="class-table" lay-filter="class-table">
        <thead>
        <tr>
            <th lay-data="{field:'name', width:250, sort: true}">班级名</th>
            <th lay-data="{field:'open_time', width:160}">开班时间</th>
            <th lay-data="{field:'st', width:160, sort: true}">状态</th>
            <th lay-data="{field:'stage', width:160}">阶段</th>
            <th lay-data="{field:'charge_teacher', sort: true, width:160}">班主任</th>
            <th lay-data="{field:'teach_teacher', sort: true, width:160}">教师</th>
            <th lay-data="{templet:'#classList', width:160}">操作</th>
        </tr>
        </thead>
    </table>
    <script type="text/html" id="classList">
        <a class="layui-btn layui-btn-xs" lay-event="edit" >编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="task">作业</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="stu">班级学生</a>
    </script>
</div>
</body>
</html>