<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改班级信息</title>
    <script src="/js/jQuery-3.4.1.js"></script>
    <script src="/layui.js"></script>
    <link rel="stylesheet" href="/css/layui.css">
    <script src="/js/updateClass.js"></script>


</head>
<body>
<div style="margin-top: 30px">
    <!--action="/updataTeacher"-->
    <form class="layui-form" id="data">
        <div class="layui-form-item">
            <label class="layui-form-label">班级名</label>
            <div class="layui-input-block">
                <input type="text" name="className" id="className" autocomplete="off" class="layui-input" style="width: 70%">
            </div>
        </div>
        <!--状态-->
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block" style="width: 180px">
                <select name="status" id="status" lay-verify="" >
                    <option value="1">预开班</option>
                    <option value="2">已开班</option>
                    <option value="3">已毕业</option>
                </select>
            </div>

        </div>
        <!--阶段-->
        <div class="layui-form-item">
            <label class="layui-form-label">阶段</label>
            <div class="layui-input-block">
                <input type="text" name="stage" id="stage" autocomplete="off" class="layui-input" style="width: 70%">
            </div>
        </div>
        <!--开班时间-->
        <div class="layui-form-item">
            <label class="layui-form-label">开班时间</label>
            <div class="layui-input-block">
                <input type="text" name="open_time" id="open_time" autocomplete="off" class="layui-input" style="width: 70%">
            </div>
        </div>
        <!--班主任-->
        <div class="layui-form-item">
            <label class="layui-form-label">班主任</label>
            <div class="layui-input-block" style="width: 190px">
                <select name="charge_teacher" id="charge_teacher" lay-verify="">
                </select>
            </div>

        </div>
        <!--教师-->
        <div class="layui-form-item">
            <label class="layui-form-label">教师</label>
            <div class="layui-input-block" style="width: 190px">
                <select name="teach_teacher" id="teach_teacher" lay-verify="">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <!--<button class="layui-btn" lay-submit lay-filter="formDemo" onclick="submit()">立即提交</button>-->
                <input class="layui-btn" type="button" onclick="doUpdataClass()" value="立即提交"/>

            </div>
        </div>
    </form>
</div>
</body>
</html>